// Colors & fonts for the project
:root {
    --c-violet: hsl(257, 40%, 49%);
    --c-soft-magenta: hsl(300, 69%, 71%);
    //font-family: "Open Sans", sans-serif;
    //font-family: "Poppins", sans-serif;
}

// A feel boilerplate styles now...
html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: "Open Sans", sans-serif;
    background: var(--c-violet);
    //line-height: 1.7;
    //font-size: var(--f-body);
    color: white;    
}

h1 {
    //line-height: 1.1;
}

h1,
p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    //transition: 150ms ease-in-out;
    //transition-property: color, background-color;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

