.social {

    margin-block: 1.875rem;
    

    @media (width >= 48.125em) {
        text-align: end;
    }

    &__icon {
        margin-inline-start: 0.625rem;

    }

    .social__icon:hover {
        color: var(--c-soft-magenta);
    }
}