.header {
    display: flex;
    justify-content: flex-start;

    a {
        margin-block: 2.5rem 3.125rem;
    }

    &__logo {
        max-width: 8.125rem;
    }

    @media (width >= 48.125em) {
        &__logo {
            max-width: 13.125rem;
        }
        
    }
}